.carousel-control.left, .carousel-control.right{
    background-image: none !important
}

.error{
    color: red;
}

.content{
    margin-bottom: 20px;
}

.footer .container{
    border-radius: 50px;
    border-top: 2px solid grey;
}

.footer{
    text-align: center;
}

.loggedAs{
    color:black;
}

.required:after{
    content: ' *';
    color:red;
}

.navbar-nav{
    margin: 0 !important;
}

.searchBar{
    padding-top: 7px;
}

.newlineText{
    white-space:pre-line;
}