.alert{
    border: 3px solid black;
}

.alert-success{
    background-color: green;
}

.alert-info{
    background-color: blue;
}

.alert-fail{
    background-color: red;
}

.error{
    color: red;
}

.main{
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.content{
    padding: 30px;
    border: 3px solid yellowgreen;
    margin-bottom: 50px;
}

.header .container{
    border-bottom: 3px solid yellowgreen;
}

.lang .active{
    border-radius: 10px;
    border: 3px solid green;
}

.footer .container{
    border-top: 3px solid yellowgreen;
}

.footer{
    text-align: center;
}